:host {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    padding: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .container {
        border-radius: 10px;
        border-radius: 24px;
        background: linear-gradient(145deg, #2e6fb8, #18559e);
        box-shadow: 29px 29px 43px #3535bf,
            -29px -29px 43px #2e3ca6;
        padding: 20px;
        width: 500px;

        form {
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                margin-right: 5px;

                label {
                    color: #f9f8f8;
                    font-size: .6rem;
                    font-weight: 500;
                    margin-bottom: 3px;
                }

                input {
                    border: 1px solid #f7f7f7bd;
                    border-radius: 3px;
                    outline: none;
                    padding: 3px;
                    font-size: .7rem;
                }

            }
        }


        button {
            border: 0;
            border-radius: 4px;
            cursor: pointer;
            background-color: #d0a634;
            padding: 5px 10px;
            font-weight: 700;
            width: 100%;
            color: #e8eaea;

            &:hover {
                background-color: #fffff9;
            }
        }
    }

    table {
        margin-top: 40px;
        width: 100%;
        text-align: left;

        th {
            color: #e9e5e5;
            font-size: .7rem;
        }

        th,
        td {
            padding: 6px 0px;
            border-top: 1px solid;
        }

        span {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}